In [ ]:
import kagglehub
path = kagglehub.dataset_download("jessemostipak/hotel-booking-demand")

Using Colab cache for faster access to the 'hotel-booking-demand' dataset.

In [ ]:
import pandas as pd

df = pd.read_csv(path + "/hotel_bookings.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# Understanding Data

In [ ]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

# Data Cleaning

In [ ]:
# Missing Value
df['children'] = df['children'].fillna(0)
df['country'] = df['country'].fillna('Unknown')
df['agent'] = df['agent'].fillna(0)
df = df.drop('company', axis=1)

print("Missing values after handling:")
print(df.isnull().sum()[df.isnull().sum() > 0])

Missing values after handling:
Series([], dtype: int64)

In [ ]:
# Duplicate Data
print(f"Number of duplicate rows before removal: {df.duplicated().sum()}")
df.drop_duplicates(inplace=True)
print(f"Number of duplicate rows after removal: {df.duplicated().sum()}")

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

In [ ]:
# Correct Data Types
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])
df['agent'] = df['agent'].astype(int)
df['arrival_date'] = pd.to_datetime(df['arrival_date_year'].astype(str) + '-' + df['arrival_date_month'] + '-' + df['arrival_date_day_of_month'].astype(str))
df = df.drop(columns=['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'])

print("Data types after correction:")
print(df[['reservation_status_date', 'agent', 'arrival_date']].dtypes)

Data types after correction:
reservation_status_date    datetime64[ns]
agent                               int64
arrival_date               datetime64[ns]
dtype: object

In [ ]:
# Check the Outlier
print(df['adr'].describe())

count    87389.000000
mean       106.339070
std         55.013097
min         -6.380000
25%         72.000000
50%         98.100000
75%        134.000000
max       5400.000000
Name: adr, dtype: float64

In [ ]:
# Handle Outlier
df = df[df['adr'] > 0]
df = df[df['adr'] < 5000]

print(f"Shape of DataFrame after outlier removal: {df.shape}")
print(df['adr'].describe())

Shape of DataFrame after outlier removal: (85609, 29)
count    85609.000000
mean       108.487091
std         50.223596
min          0.260000
25%         74.480000
50%         99.000000
75%        135.000000
max        510.000000
Name: adr, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85609 entries, 2 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           85609 non-null  object
 1   is_canceled                     85609 non-null  int64
 2   lead_time                       85609 non-null  int64
 3   arrival_date_week_number        85609 non-null  int64
 4   stays_in_weekend_nights         85609 non-null  int64
 5   stays_in_week_nights            85609 non-null  int64
 6   adults                          85609 non-null  int64
 7   children                        85609 non-null  float64
 8   babies                          85609 non-null  int64
 9   meal                            85609 non-null  object
 10  country                         85609 non-null  object
 11  market_segment                  85609 non-null  object
 12  distribution_channel            85609 non-null  object
 13  is_repeated_guest               85609 non-null  int64
 14  previous_cancellations          85609 non-null  int64
 15  previous_bookings_not_canceled  85609 non-null  int64
 16  reserved_room_type              85609 non-null  object
 17  assigned_room_type              85609 non-null  object
 18  booking_changes                 85609 non-null  int64
 19  deposit_type                    85609 non-null  object
 20  agent                           85609 non-null  int64
 21  days_in_waiting_list            85609 non-null  int64
 22  customer_type                   85609 non-null  object
 23  adr                             85609 non-null  float64
 24  required_car_parking_spaces     85609 non-null  int64
 25  total_of_special_requests       85609 non-null  int64
 26  reservation_status              85609 non-null  object
 27  reservation_status_date         85609 non-null  datetime64[ns]
 28  arrival_date                    85609 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(15), object(10)
memory usage: 19.6+ MB

# Revenue Feature Engineering

In [ ]:
# Total Revenue
df['total_stay_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df['total_revenue'] = 0
df.loc[df['is_canceled'] == 0, 'total_revenue'] = df['total_stay_nights'] * df['adr']

print(df[['total_stay_nights', 'adr', 'is_canceled', 'total_revenue']].head())

   total_stay_nights    adr  is_canceled  total_revenue
2                  1   75.0            0           75.0
3                  1   75.0            0           75.0
4                  2   98.0            0          196.0
6                  2  107.0            0          214.0
7                  2  103.0            0          206.0

/tmp/ipython-input-2194069680.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[  75.     75.    196.   ... 1103.97  730.8  1360.8 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['is_canceled'] == 0, 'total_revenue'] = df['total_stay_nights'] * df['adr']

In [ ]:
df['total_stay_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df['total_revenue'] = 0.0  # Initialize as float to avoid FutureWarning
df.loc[df['is_canceled'] == 0, 'total_revenue'] = df['total_stay_nights'] * df['adr']

print(df[['total_stay_nights', 'adr', 'is_canceled', 'total_revenue']].head())

   total_stay_nights    adr  is_canceled  total_revenue
2                  1   75.0            0           75.0
3                  1   75.0            0           75.0
4                  2   98.0            0          196.0
6                  2  107.0            0          214.0
7                  2  103.0            0          206.0

In [ ]:
# Total Guests
df['children'] = df['children'].astype(int)
df['total_guests'] = df['adults'] + df['children'] + df['babies']

print(df[['adults', 'children', 'babies', 'total_guests']].head())

   adults  children  babies  total_guests
2       1         0       0             1
3       1         0       0             1
4       2         0       0             2
6       2         0       0             2
7       2         0       0             2

In [ ]:
import numpy as np

# Revenue per Guest
df['rev_per_guest'] = np.where(df['total_guests'] == 0, 0, df['total_revenue'] / df['total_guests'])

print(df[['total_revenue', 'total_guests', 'rev_per_guest']].head())

   total_revenue  total_guests  rev_per_guest
2           75.0             1           75.0
3           75.0             1           75.0
4          196.0             2           98.0
6          214.0             2          107.0
7          206.0             2          103.0

In [ ]:
# Categorize Lead Time
bins = [-1, 7, 30, 90, df['lead_time'].max()]
labels = ['Last Minute', 'Short Term', 'Medium Term', 'Early Bird']
df['lead_time_category'] = pd.cut(df['lead_time'], bins=bins, labels=labels, right=True)

print(df[['lead_time', 'lead_time_category']].head())

   lead_time lead_time_category
2          7        Last Minute
3         13         Short Term
4         14         Short Term
6          0        Last Minute
7          9         Short Term

In [ ]:
# Potential Revenue Loss
df['potential_revenue_loss'] = 0.0
df.loc[df['is_canceled'] == 1, 'potential_revenue_loss'] = df['total_stay_nights'] * df['adr']

print(df[['is_canceled', 'total_stay_nights', 'adr', 'potential_revenue_loss']].head())

   is_canceled  total_stay_nights    adr  potential_revenue_loss
2            0                  1   75.0                     0.0
3            0                  1   75.0                     0.0
4            0                  2   98.0                     0.0
6            0                  2  107.0                     0.0
7            0                  2  103.0                     0.0

In [ ]:
print(df[['total_revenue', 'total_guests', 'rev_per_guest', 'lead_time_category', 'potential_revenue_loss']].head())

   total_revenue  total_guests  rev_per_guest lead_time_category  \
2           75.0             1           75.0        Last Minute
3           75.0             1           75.0         Short Term
4          196.0             2           98.0         Short Term
6          214.0             2          107.0        Last Minute
7          206.0             2          103.0         Short Term

   potential_revenue_loss
2                     0.0
3                     0.0
4                     0.0
6                     0.0
7                     0.0

### Feature Engineering Summary:

*   **Total Stay Nights (`total_stay_nights`)**: Created by summing `stays_in_weekend_nights` and `stays_in_week_nights` to represent the total duration of a booking.
*   **Total Revenue (`total_revenue`)**: Calculated as `total_stay_nights * adr` for non-canceled bookings (`is_canceled == 0`). Initialized as a float to prevent `FutureWarning` due to type incompatibility.
*   **Total Guests (`total_guests`)**: Created by summing `adults`, `children` (after casting to `int`), and `babies` to get the total number of people in a booking.
*   **Revenue Per Guest (`rev_per_guest`)**: Calculated as `total_revenue / total_guests`. Handled division by zero by setting `rev_per_guest` to 0 when `total_guests` is 0.
*   **Lead Time Category (`lead_time_category`)**: Categorized `lead_time` into 'Last Minute' (0-7 days), 'Short Term' (8-30 days), 'Medium Term' (31-90 days), and 'Early Bird' (>90 days) using `pd.cut`.
*   **Potential Revenue Loss (`potential_revenue_loss`)**: Calculated as `total_stay_nights * adr` for canceled reservations (`is_canceled == 1`), representing revenue that could have been earned. Set to 0 for non-canceled reservations.

In [ ]:
df.to_csv('hotel_bookings_cleaned_features.csv', index=False)
print("DataFrame Export'")